#root{
}

html {
  --dark : #252631;
}
body{
  font-family: "Times New Roman", Times, serif;
}
.inner-wrapper{
  padding: 0px 10px 10px 10px;
}
.bg-salmon{
  background-color: salmon;
}
.navbar{
  /* position: absolute; */
  /* width : 100%; */
  background-color: white !important;
}
.navbar a {
  color : var(--dark);
}
.navbar-brand{
  font-size: 48px;
  color : #000 !important;
}
.friend-search{
width: 200px;
}
/* Avatar */
.avatar{width:360px;height:360px; border-radius: 50%;}
.avatar-section{margin-bottom:25px;}
#search-input{
  border-radius: 20px;
  animation: slide-right 0.5s ease;

}
@keyframes slide-right {
  0% {
      opacity: 0;
      transform: translateX(0);
  }
  100% {
      opacity: 1;
      transform: translateX(10px);
  }
}

.seached-user-li{
  padding : 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.seached-user-li > div{
  padding : 5px;
}
.fr-dropdown{
  position: absolute;
  z-index: 1;
}
.add-friend-butt{
  border : 1px solid grey;
  border-radius: 30px;
  cursor: pointer;
}
.chat-wrapper{
  display: flex;

}
.chat-list-wrapper{
  width: 200px;
  height: 100vh;
  border-right: lightgrey 1px solid;
}
.chat-list-wrapper div{
  padding: 5px;
}
.chat-room-wrapper{
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.friend-item{
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
.friend-item:hover{
  background-color: rgb(235, 233, 233);
  border-radius: 20px;
}
.photos {
  width: 50px;
  height: 50px;
  padding-top : 50px;
  border-radius: 50%;
}
textarea[autoresize] {
  display: block;
  overflow: hidden;
  resize: none;
}
.msg-body{
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: lightgrey;
  border-radius: 10px;
}
.msg-body .timestamp{
  font-size: x-small;
  text-align: right;
}
.msg-item{
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 10px;
  width: 200px;
}
.camera-wrap{
  display: flex;
  flex-direction: row;
  position : relative;
}
.camera-button{
  position : absolute;
  bottom : 10px;
  left :  40%;
  width: 50px;
  height: 50px;
  background-color: white;
  border: 10px solid rgb(231, 231, 231);
  border-radius: 50%;
}
.camera-reset{
  position : absolute;
  top: 10px;
  color: white;
  left: 10px;
}
.emoji-mart {
  z-index: 1;
  position: absolute;
  top : 50px;
  right : 10px;
}
.friend-list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: none;
  align-items: center;

}
.friend-list-name{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.friend-list-name > div{
  padding: 5px;
}
.friend-list-name-name{
  font-size: x-large;
}
.new-post{
  padding: 5px;
}
.new-post textarea {
  width: 391px;
  height: 172px;
  border-radius: 8px;
  border: none;
  background-color: #fafafa;
}
.new-post textarea::-webkit-input-placeholder {
  font-style: italic;
}
.new-post textarea:-moz-placeholder  {
  font-style: italic;
}
.home-button{
  width : 50px;
  height : 50px;
  background-color: var(--dark);
  color : #fafafa;
  border-radius: 50%;
  display: flex;
  align-content: center;
  justify-content: center;
}
.home-button:hover{
  background-color: #fafafa;
  color: var(--dark);
  border: 5px solid var(--dark) ;
}
.home-camera{
  position: absolute;
  bottom: 10px;
  right : 20px;
}
.home-hide{
  position: absolute;
  bottom: 10px;
  left : 20px;
 
}