/* Avatar */
.avatar{width:360px;height:360px; border-radius: 50%;}
.avatar-section{margin-bottom:25px;}
#search-input{
  border-radius: 20px;
}

.seached-user-li{
  padding : 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.seached-user-li > div{
  padding : 5px;
}
.add-friend-butt{
  border : 1px solid grey;
  border-radius: 30px;
  cursor: pointer;
}