#root{
}
body{
  font-family: "Times New Roman", Times, serif;
}
.inner-wrapper{
  padding: 100px 10px 10px 10px;
}
.navbar{
  position: absolute;
}
.friend-search{
width: 200px;
}
/* Avatar */
.avatar{width:360px;height:360px; border-radius: 50%;}
.avatar-section{margin-bottom:25px;}
#search-input{
  border-radius: 20px;
}

.seached-user-li{
  padding : 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.seached-user-li > div{
  padding : 5px;
}
.fr-dropdown{
  position: absolute;
  z-index: 1;
}
.add-friend-butt{
  border : 1px solid grey;
  border-radius: 30px;
  cursor: pointer;
}
.chat-wrapper{
  display: flex;

}
.chat-list-wrapper{
  width: 200px;
  height: 100vh;
  border-right: lightgrey 1px solid;
}
.chat-list-wrapper div{
  padding: 5px;
}
.chat-room-wrapper{
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.friend-item{
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
.friend-item:hover{
  background-color: rgb(235, 233, 233);
  border-radius: 20px;
}
.photos {
  width: 50px;
  height: 50px;
  padding-top : 50px;
  border-radius: 50%;
}
textarea[autoresize] {
  display: block;
  overflow: hidden;
  resize: none;
}
.msg-body{
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: lightgrey;
  border-radius: 10px;
}
.msg-body .timestamp{
  font-size: x-small;
  text-align: right;
}
.msg-item{
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 10px;
  width: 200px;
}
.camera-wrap{
  position : relative;
}
.camera-button{
  position : absolute;
  bottom : 10px;
  left :  40%;
  width: 50px;
  height: 50px;
  background-color: white;
  border: 10px solid rgb(231, 231, 231);
  border-radius: 50%;
}
.camera-reset{
  position : absolute;
  top: 10px;
  color: white;
  left: 10px;
}
.emoji-mart {
  z-index: 1;
  position: absolute;
  top : 50px;
  right : 10px;
}
.friend-list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: none;
  align-items: center;

}
.friend-list-name{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.friend-list-name > div{
  padding: 5px;
}
.friend-list-name-name{
  font-size: x-large;
}